<div class="card-content">
  {{#if title}}
    <span class="card-title">{{title}}</span>
  {{/if}}
  {{yield}}
</div>

{{#if attrs.onSubmit}}
  <div class="card-action center-align">
    <button disabled={{buttonDisabled}} class="btn-flat {{if buttonDisabled "disabled" "green white-text"}}"
      onclick={{attrs.onSubmit}}>
      {{buttonText}}
    </button>
  </div>
{{/if}}
